plugins/
storage/
docs/
database\.sqlite
/config.json
/config.yml
/commandMap\.json
*.class
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle-wrapper.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Editor settings
.idea/
.ideaDataSources/
/*.iws
/*.ipr
/*.iml
/*.iml

# Compile location
.gradle/*
target/
build/
out/
AvaIre.jar

# Image Generator Branch
test-output\.png

